@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --first-color: rgb(20, 20, 20);
    --second-color: rgb(140, 0, 255);
    --third-color: rgb(15, 15, 15);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: rgb(20,20,20);
    color: white;
}

button {
    margin: 20px 0 50px 0;
    font-size: 25px;
    border-radius: 6px;
    border-color: transparent;
    border-width: 100%;
    background-image: linear-gradient(to left, darkviolet, rgb(140, 0, 255), darkviolet);
    color: white;
    padding: 0.5rem 2rem;
    transition: all 0.3s;
}

button:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: gray;
    transition: 0.3s;
}

.panel2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    column-gap: 1rem;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    top: 0;
    height: 7vh;
    width: 100%;
    position: fixed;
    background-color: rgba(20, 20, 20, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.titleMe:link, .titleMe:visited {
    margin-left: 300px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.titleMe:hover {
    color: transparent;
    background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
}

/* .panelHome:link, .panelHome:visited {
    margin-left: 500px;
    font-size: 18px;
    color: gray;
} */

.panelAboutme:link, .panelAboutme:visited {
    margin-left: 600px;
    font-size: 18px;
    color: gray;
}

.panelWorks {
    margin-left: 20px;
    font-size: 18px;
}

.panelContacts {
    margin-left: 20px;
    font-size: 18px;
}

.panelLogin {
    margin-left: 200px;
    font-size: 18px;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.panelLogin:hover {
    color: var(--first-color);
    background-color: white;
    transition: all 0.5s;
}

.optionsLang {
    margin-left: 20px;
    background-color: var(--first-color);
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4px 7px;
}

.optionsLangMobile {
    margin: 0 0 0 100px;
    background-color: var(--first-color);
    color: white;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 4px 7px;
}

.lng-text-info {
    margin: 1px 0;
    text-align: center;
    font-size: 19px;
}

.lng-text-info2 {
    margin: 1px 0;
    text-align: center;
    font-size: 19px;
}

.link-info {
    margin: 1px 0;
    text-align: center;
    font-size: 19px;
}

.lng-endText {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.lng-name {
    display: flex;
    justify-content: center;
    margin: 200px 0 20px 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.imgUser {
    display: flex;
    justify-content: center;
    width: 40vh;
}

.skillsbg {
    display: flex;
    justify-content: center;
    margin: 100px 100px 0 100px;
    padding: 50px 0 0px 0;
    border-radius: 25px;
    background-image: linear-gradient(to left, darkviolet,purple, darkviolet);
}

.lng-skills {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.panel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 0 -40vh 0;
    cursor: default;
}

.firstPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 30px;
    background-color: black;
    border-radius: 30px;
    padding: 50px 35px;
    transition: all 0.3s;
    scale: 1;
}

.firstPanel:hover {
    scale: 1.01;
    box-shadow: 0 0 20px 3px black;
}

.senpaal a:link, .senpaal a:visited {
    color: aqua;
    cursor: default;
    transition: all 0.3s;
}

.senpaal a:hover {
    color: darkcyan;
    cursor: default;
    transition: all 0.3s;
}

.secondPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
    background-color: black;
    border-radius: 30px;
    padding: 50px 15px;
    gap: 20px;
    transition: all 0.3s;
    scale: 1;
}

.secondPanel:hover {
    scale: 1.01;
    box-shadow: 0 0 20px 3px black;
}

.iconFP {
    margin: 0 0 40px 0;
    font-size: 30px;
}

.lng-backend {
    font-size: 18px;
}

.lng-BEtext1 {
    margin-top: 40px;
    color: cyan;
    font-size: 19px;
}


/* */


.lng-frontend {
    font-size: 18px;
}

.lng-FEtext1 {
    color: lightgray;
    text-align: center;
    font-size: 17px;
}

.lng-FEtext2 {
    margin-top: 40px;
    color: cyan;
    font-size: 19px;
}

.lng-FEtext3 {
    margin-top: 40px;
    color: cyan;
    font-size: 19px;
}

.textPanel {
    color: lightgray;
    text-align: center;
    font-size: 17px;
}

.small-text {
    font-size: 20px;
}

.top-indent {
    margin-top: 90px;
}

.top-indent-text {
    margin-top: 460px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.myworks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    background-image: linear-gradient(to left, darkviolet,purple, darkviolet);
    height: 2px;
    animation: moveGradient 3s ease infinite;
    background-size: 200% 200%;
}



/* Мобильная версия */

.navbar {
    display: none;
}

@media (min-width: 768px) {
    
    .col-sm-12 {
        margin: 0 5px;
    }
}

@media (max-width: 767px) {
    
    .panel2 {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar-brand {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
        font-size: 30px;
        padding: 10px;
        cursor: default;
    }

    .navbar-toggler {
        margin: -20px 0 0 0;
        background-image: linear-gradient(to right bottom, rgb(140, 0, 255), orange);
    }

    hd {
        margin-bottom: -40px;
        width: 90vw;
    }

    .optionsLangMobile {
        margin: 0;
    }

    .lng-text-info {
        font-size: 15px;
        margin-bottom: -40px;
    }

    .lng-skills {
        font-size: 20px;
        margin-top: -60px;
    }

    .skillsbg {
        background-image: none;
    }

    .panel {
        display: flex;
        flex-direction: column;
    }

    .lng-backend, .lng-frontend {
        text-align: center;
    }

    .lng-FEtext1, .textPanel {
        font-size: 13px;
    }

    .lng-BEtext1, .lng-FEtext2, .lng-FEtext3 {
        font-size: 16px;
        margin-top: 10px;
    }

    .firstPanel {
        margin-bottom: -30px;
    }

    .secondPanel {
        margin-bottom: -60px;
    }

    button {
        font-size: 20px;
        margin: -5px 0 50px 0;
    }

    .linkabout:link, .linkabout:visited {
        color: gray;
    }

    .navbar-nav ul {
        list-style: none;
    }
}