@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(20,20,20);
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 7vh;
    margin: 15px 0 180px 0;
    column-gap: 1rem;
}

button {
    margin: 20px 0 50px 0;
    font-size: 25px;
    border-radius: 6px;
    border-color: transparent;
    border-width: 100%;
    background-image: linear-gradient(to left, darkviolet, rgb(140, 0, 255), darkviolet);
    color: white;
    padding: 0.5rem 2rem;
    transition: all 0.3s;
}

button:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: gray;
    transition: 0.3s;
}

.animDs {
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 800px;
    padding: 5px 0 5px 4.5px;
    transition: background-color 0.5s;
}

.animDs:hover {
    color: rgb(20,20,20);
    background-color: white;
    transition: background-color 0.5s;
}


.animVK {
    margin-left: 8px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 8px 5px 8px;
    transition: background-color 0.5s;
}

.animVK:hover {
    color: rgb(20,20,20);
    background-color: white;
    transition: background-color 0.5s;
}

h1 {
    margin: 0;
}

.titleMe {
    margin: 0 0 0 300px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    cursor: default;
}

.panelHome {
    margin-left: 700px;
    font-size: 20px;
}

.panelWorks {
    margin-left: 30px;
    font-size: 20px;
}

.text {
    margin: 1px 0;
    text-align: center;
    font-size: 19px;

}

.title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.imgUser {
    display: flex;
    justify-content: center;
    width: 40vh;
}

.skillsbg {
    display: flex;
    justify-content: center;
    margin: 100px 100px 0 100px;
    padding: 50px 0 0px 0;
    border-radius: 25px;
    background-image: linear-gradient(to left, darkviolet,purple, darkviolet);
}

.skills {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.panel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 0 -40vh 0;
    cursor: default;
}

.firstPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 30px 0 0;
    background-color: black;
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
    transition: all 0.3s;
    scale: 1;
}

.senpaal a:link, .senpaal a:visited {
    color: aqua;
    cursor: default;
    transition: all 0.3s;
}

.senpaal a:hover {
    color: darkcyan;
    cursor: default;
    transition: all 0.3s;
}

.firstPanel:hover {
    scale: 1.01;
    box-shadow: 0 0 20px 3px black;
}

.secondPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 30px;
    background-color: black;
    border-radius: 30px;
    padding: 50px 15px 50px 15px;
    gap: 20px;
    transition: all 0.3s;
    scale: 1;
}

.secondPanel:hover {
    scale: 1.01;
    box-shadow: 0 0 20px 3px black;
}

.iconFP {
    margin: 0 0 40px 0;
    font-size: 30px;
}

.textPanel {
    font-size: 18px;
}

.textPanel1 {
    color: lightgray;
    text-align: center;
    font-size: 17px;
}

.textPanel2 {
    color: lightgray;
    font-size: 17px;
}

.textPanel3 {
    margin-top: 40px;
    color: cyan;
    font-size: 19px;
}

.small-text {
    font-size: 20px;
}

.top-indent {
    margin-top: 90px;
}

.top-indent-text {
    margin-top: 460px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    background-image: linear-gradient(to left, darkviolet,purple, darkviolet);
    height: 2px;
    animation: moveGradient 3s ease infinite;
    background-size: 200% 200%;
}
