@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --first-color: rgb(20, 20, 20);
    --second-color: rgb(140, 0, 255);
    --third-color: rgb(15, 15, 15);
}

/* Тёмная тема */

/* body.dark {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--first-color);
    color: white;
}

body.light {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 255);
    color: #333333;
  } */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--first-color);
    color: white;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: gray;
    transition: 0.2s;
}

.optionsLang {
    margin: 0 0 0 250px;
    background-color: var(--first-color);
    color: white;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 4px 7px;
}

.optionsLangMobile {
    margin: 0 0 0 100px;
    background-color: var(--first-color);
    color: white;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 4px 7px;
}

button.Theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white !important;
    border-radius: 0px;
    border: 0 none transparent;
    font-size: 20px;
    width: 2.2rem;
    height: 2.2rem;
    padding: 2px 10px;
    border: 1px solid white;
    border-radius: 50%;
}

button.Theme:hover {
    scale: 1;
    box-shadow: 0 0 0 0 transparent;
    background: gray;
    border-color: gray;
    color: var(--first-color) !important;
}

hd {
    width: 40vw;
    background: linear-gradient(to right, rgb(140, 0, 255), orange);
    height: 2px;
    animation: moveGradient 3s ease infinite;
    background-size: 200% 200%;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    column-gap: 1rem;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

.titleMe {
    margin: 0 0 0 200px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    cursor: default;
}

.panelHome:link, .panelHome:visited {
    margin-left: 600px;
    font-size: 20px;
    color: gray;
}

.panelAboutme {
    margin-left: 30px;
    font-size: 20px;
    color: gray;
}

.panelWorks {
    margin-left: 30px;
    font-size: 20px;
}

.panelContacts {
    margin-left: 30px;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.lng-hello {
    margin-top: 15px;
    font-size: 30px;
}

.lng-welcome {
    font-size: 25px;
}

.lng-see {
    font-size: 25px;
}

.lng-forth {
    font-size: 25px;
}

.lng-endtext {
    font-size: 25px;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.grid {
    justify-items: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 3rem;
}

.grid .col-sm-12.light {
    color: white !important;
}

.grid-item-1 {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    height: 160px;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(20,20,20), rgba(102, 0, 255, 0.627));
    border-style: solid;
    border-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    transition: all 0.5s;
}

.grid-item-2 {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    height: 160px;
    width: 100%;
    background: linear-gradient(to left bottom, rgb(20,20,20), rgba(102, 0, 255, 0.627));
    border-style: solid;
    border-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    transition: all 0.5s;
}

.grid-item-3 {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    height: 160px;
    width: 100%;
    background: linear-gradient(to right top, rgb(20,20,20), rgba(102, 0, 255, 0.627));
    border-style: solid;
    border-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    transition: all 0.5s;
}

.grid-item-4 {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    height: 160px;
    width: 100%;
    background: linear-gradient(to left top, rgb(20,20,20), rgba(102, 0, 255, 0.627));
    border-style: solid;
    border-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    transition: all 0.5s;
}

.grid-item-1:hover {
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}

.grid-item-2:hover {
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}

.grid-item-3:hover {
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}

.grid-item-4:hover {
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}


p {
    font-size: 1rem;
    color: white;
}

button {
    border-radius: 6px;
    border-color: rgb(140, 0, 255);
    border-width: 100%;
    background-image: linear-gradient(to right bottom, rgb(140, 0, 255), orange);
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    transition: all 0.3s;
}

button:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 3px rgb(140, 0, 255);
}



/* Мобильная версия */

.navbar {
    display: none;
}

@media (min-width: 768px) {
    
    .col-sm-12 {
        margin: 0 5px;
    }
}

@media (max-width: 767px) {
    
    .panel {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar-brand {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
        font-size: 30px;
        padding: 10px;
        cursor: default;
    }

    hd {
        width: 80vw;
    }

    .optionsLangMobile {
        margin: 0;
    }

    .lng-hello {
        margin-top: 40px;
    }

    .linkhome:link, .linkhome:visited {
        color: gray;
    }

    .navbar-nav ul {
        list-style: none;
    }
}
