@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --first-color: rgb(20, 20, 20);
    --second-color: rgb(140, 0, 255);
    --third-color: rgb(15, 15, 15);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(20,20,20);
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: gray;
    transition: 0.3s;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    column-gap: 1rem;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    top: 0;
    height: 7vh;
    width: 100%;
    position: fixed;
    background-color: rgba(20, 20, 20, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.titleMe:link, .titleMe:visited {
    margin-left: 300px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.titleMe:hover {
    color: transparent;
    background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
}

/* .panelHome:link, .panelHome:visited {
    margin-left: 500px;
    font-size: 18px;
    color: gray;
} */

.panelAboutme {
    margin-left: 600px;
    font-size: 18px;
}

.panelWorks:link, .panelWorks:visited {
    margin-left: 20px;
    font-size: 18px;
    color: gray;
}

.panelContacts {
    margin-left: 20px;
    font-size: 18px;
}

.panelLogin {
    margin-left: 200px;
    font-size: 18px;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.panelLogin:hover {
    color: var(--first-color);
    background-color: white;
    transition: all 0.5s;
}

.optionsLang {
    margin-left: 20px;
    background-color: var(--first-color);
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4px 7px;
}

.optionsLangMobile {
    margin: 0 0 0 100px;
    background-color: var(--first-color);
    color: white;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 4px 7px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 300px;
    margin-top: 220px;
}

.lng-textMyworks {
    text-align: center;
}

.headline {
    margin: 50px;
    font-weight: bold;
    font-size: 40px;
}

.site {
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
    gap: 40px;
    margin-bottom: 60px;
    background: var(--third-color);
    cursor: default;
    transition: all 0.4s;
    scale: 1;
}

.site:hover {
    scale: 1.05;
    box-shadow: 0 0 15px 5px gray;
}

.site__img,.site__text {
    width: calc(100% / 2  - 40px / 2 );
}

.site__img img {
    width: 100%;
    border: 1px solid gray;
}

.site__text {
    text-align: center;
}

.site__text .lng-site__headline {
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

.lng-site__headlineLogin {
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

.site__text p {
    color: lightgray;
    font-size: 16px;
}

.site__text a:link,  .site__text a:visited {
    color: #4759c2;
    transition: 0.3s;
}

.site__text a:hover {
    color: white;
    transition: 0.3s;
}

.info {
    margin: 30px 0 60px 0;
}



/* Мобильная версия */

.navbar {
    display: none;
}

@media (min-width: 768px) {
    
    .col-sm-12 {
        margin: 0 5px;
    }
}

@media (max-width: 767px) {

    .panel {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar-brand {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right bottom, orange, rgb(132, 0, 255));
        font-size: 30px;
        padding: 10px;
        cursor: default;
    }

    .navbar-toggler {
        margin: -20px 0 0 0;
        background-image: linear-gradient(to right bottom, rgb(140, 0, 255), orange);
    }

    .optionsLangMobile {
        margin: 0;
    }

    .linkworks:link, .linkworks:visited {
        color: gray;
    }

    .content {
        padding: 0;
    }

    .site:hover {
        scale: 1;
        box-shadow: 0 0 0 0;
    }

    .site {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px 10px 15px;
    }

    .site__img {
        width: 350px;
        margin-bottom: -70px;
    }

    .site__text {
        width: 100%;
    }

    .lng-linksite {
        margin: -10px 0 10px 0;
    }
    
    .site {
        margin-top: -20px;
    }

    .navbar-nav ul {
        list-style: none;
    }
}
