@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20,20,20);
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: rgb(36,36,36);
    width: 100vw;
    height: fit-content;
    column-gap: 1rem;
}

a:link, a:visited {
    text-decoration: none;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right bottom, yellow, green);
    scale: 1;
}

a:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.2s;
    scale: 1.3;
}
